
/****** 全体的に上から下、親要素から子要素へと配置を入れ替えました ******/

body {                   /* カードブロックがふわっと出現する仕方の設定です */
  -webkit-animation: fadeIn 2.5s ease-in-out 0s 1 normal;
  animation: fadeIn 4s ease-in-out 0s 1 normal;
  }
  @keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }

  body {           /* コード全体のフォント種類、フォントサイズ、背景画像とその背景の覆い方、文字色、太字を指定 */
    font-family: 'Noto Serif JP', serif;
    font-size: 15px;
    background-image: url(IMG-8573.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#5d627b;
    font-weight:bold;
  }

  img {              /* コード全体の画像の幅を親要素の幅の100%に設定 */
    width: 100%;
  }

  .example {         /* カードブロックの上下左右余白、幅、フォントサイズ、行間隔を指定 */
    margin: 120px auto 70px;
    width: 400px;
    font-size: 13px;
    line-height: 1.5;
  }

  .example {         /* カードブロックの枠のシャドウを指定 */
    box-shadow: 2px 2px 4px #c9c9c4;
  }

  @media screen and (max-width: 440px) {
    .example {        /* スマホサイズでカードブロックの幅を規定。片側余白が80pxの半分 */
      width: calc(100vw - 80px);
    }
  }

  .box11 {           /* カードブロックの内側余白、外側余白、文字色、背景色、枠のシャドウを指定 */
    padding: 0.9em 1em;
    margin: 0.9em auto;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }

  p.card-listImage{               /* 画像の周囲の余白、中央配置、画像幅を指定 */
    margin: 40px auto 10px; /*上は50px、横は中央寄せ、下は10pxにする*/
    display: block; /*中央寄せにするためのコード*/
    width: 60%;/*ここで画像が枠の何%の幅かを調整できる（大きくすると画像が大きくなり、余白が小さくなる）*/
  }

  h2.card-listTitle{               /* タイトルの中央配置、周囲の余白を指定 */
    text-align: center;
    margin: 0px auto 0px;
  }

  .card-listTitle {              /* タイトルの太字、フォントサイズ、周囲余白を指定、marginの2行は上のh2.card-listTitleで記述しているので削除可能。また、h2.card-listTitleと.cad-listTitleは同じ要素を表しているので、統一可能 */
    font-weight: bold;
    font-size: 13px;
  }

  p.card-listAuthor{              /* サブタイトルの中央配置、フォントサイズを指定 */
    text-align: center;
    font-size: 10px;
  }

  p.card-listText{              /* カードコラム本文の周囲の余白、下余白、幅、フォントサイズ、両端ぞろえを指定 */
    margin: 18px auto;
    margin-bottom: 30px;
    width: 60%;
    font-size: 10px;
    text-align: justify;
    text-justify: inter-ideograph;
  }
  @media screen and (max-width: 440px) {
    p.card-listText {             /* スマホサイズでカードコラム本文の幅を指定 */
      width: 80%;
    }
  }